.grid {
  min-width: 300px;
  width: 100%;
  display: grid;
}
.grid-dates {
  grid-template-columns: repeat(7, minmax(14%, 1fr));
}
.grid-months {
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}
