.navigation {
  min-width: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
}
.century {
  grid-template-columns: 1fr 4fr 1fr;
}
.hidden {
  grid-template-columns: 1fr;
}
.nav-item {
  padding: 10px 0;
  text-align: center;
  user-select: none;
}
.nav-item:first-child {
  border-top-left-radius: 5px;
}
.nav-item:last-child {
  border-top-right-radius: 5px;
}
.nav-item:hover {
  cursor: pointer;
  background-color: #aeefe8;
}
.nav-item.disabled,
.nav-item.disabled:hover {
  cursor: auto;
  background-color: #e4e4e4;
  user-select: none;
}
