.tile {
  font-size: 1rem;
  background-color: #fff;
  color: #555;
  user-select: none;
  text-align: center;
}
.tile-date {
  padding: 5px;
}
.weekend,
.weekend:hover {
  color: red;
}
.tile-month {
  padding: 15px 10px;
}
.tile:hover {
  cursor: pointer;
  background-color: #aeefe8;
}
.disabled,
.disabled:hover {
  background-color: gray;
}
.selected {
  background-color: #4093e0;
  color: #fff;
}
.selected:hover {
  color: #555;
}
.grayed {
  background-color: #eae6e6;
  color: #555;
}
